.margen-superior-main {
    margin-top: 50px;
    padding: 20px;
}

.color-navbar {
    background-color: #8B6F47 !important;
    background-image: linear-gradient(90deg, #121b96 0%, #2077c9 50%, #396cdb 100% );
}

.color-texto-marca {
    color: #0e30c4 !important;
    font-size: 18px;
}

.boton-ancho-auto {
    width: auto;
}

/* CONTENEDOR */
.chibi-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}

/* BASE */
.chibi {
    position: absolute;
    width: 60px;
    cursor: pointer;
    pointer-events: auto;

    /* 👇 SOLO mueve en X */
    animation: caminar 12s linear infinite;
}

/* 🔥 SOLO salto, NO toca caminar */
.chibi-saltar {
    animation: saltar 0.5s ease;
}

/* MOVIMIENTO HORIZONTAL */
@keyframes caminar {
    0% {
        left: -80px;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -80px;
    }
}

/* SALTO (solo eje Y) */
@keyframes saltar {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-40px); }
    60%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}