.margen-superior-main {
    margin-top: 50px;
    padding: 20px;
}

.color-navbar {
    background-color: #8B6F47 !important;
    background-image: linear-gradient(90deg, #121b96 0%, #2077c9 50%, #396cdb 100% );
}

.color-texto-marca {
    color: #0e30c4 !important;
    font-size: 18px;
}

.boton-ancho-auto {
    width: auto;
}